<a href="https://colab.research.google.com/github/abhisek1biswal/Abhisek_AIML/blob/main/06_01_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello everyone')

Hello everyone

using of parameters in print() statement.

In [ ]:
print("Hello" ,end='\n\n\n')
print("Abit")

Hello


Abit

In [ ]:
a=6
b=1
c=2023
print(a,b,c, sep='-')

6-1-2023

In [ ]:
a=100
print('a =',a)

a = 100

In [ ]:
nm=input("Enter Name")
print(nm)

Enter NameAbhisek
Abhisek

In [ ]:
# using of + operator.
a=int(input('Enter a :'))
b=int(input('Enter b :'))
c=a+b
print('a+b =',c)

Enter a :10
Enter b :20
a+b = 30

In [ ]:
a=float(input('Enter a : '))
b=float(input('Enter b : '))
c=a+b
print('a+b',c)

Enter a : 11.22
Enter b : 22.33
a+b 33.55

In [ ]:
# The type() function
a=100
print(type(a))
b=33.55
print(type(b))
c="ABIT"
print(type(c))
d=True
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [1]:
a=2
b=5
print(2**5)

32

In [2]:
# using / and //
a=8
b=3
print(a/b)
print(a//b)

2.6666666666666665
2

In [5]:
a=True
b=True
c=False
print(a and b)
print(a and c)
print(a or b)
print(not c)

True
False
True
True

In [8]:
a=5
b=2
print(a<<b)
print(a>>b)

20
1

In [21]:
# using ASSIGNMENT operator
a=5
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a/=5
print(a)
a%=5
print(a)
a//=5
print(a)

10
5
25
5.0
0.0
0.0

In [19]:
x=5
y=5
print(x is y)
y=6
print(x is not y)

True
True

In [23]:
x='HELLO'
print('A' in x)
print('A' not in x)

False
True

In [24]:
# using if Statement in Python
a=int(input('Enter a number : '))
if a%2==0:
  print('Even No = ',a)

Enter a number : 20
Even No =  20

In [25]:
# using if-else Statement in Python
a=int(input('Enter a number : '))
if a%2==0:
  print('Even No = ',a)
else:
  print('Odd No = ',a)

Enter a number : 15
Odd No =  15

In [27]:
# using if-else Statement in Python
a=int(input('Enter a number : '))
if a==10:
  print('a is equal to 10')
elif a==50:
  print('a is equal to 50');
elif a==100:
  print('a is equal to 100');
else:
  print('a is not equal to 10,50 or 100')

Enter a number : 15
a is not equal to 10,50 or 100

In [28]:
# using for statement
str='Python'
for i in str:
  print(i)

P
y
t
h
o
n