<a href="https://colab.research.google.com/github/abhisek1biswal/Abhisek_AIML/blob/main/24_01_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. INPUT RADIUS FIND AREA OF CIRCLE AND PERIMETER OF THE CIRCLE.

In [2]:
pi=3.14
r=float(input("enter radius of the circle : "))
area = (pi*r*r)
perimeter = (2*pi*r)
print("the area of the circle : ",area)
print("the perimeter of the circle : ",perimeter)

enter radius of the circle : 3.5
the area of the circle :  38.465
the perimeter of the circle :  21.98

2.INPUT KILOMETER CONVERTS TO CENTIMETER,METER AND MILIMETER.

In [9]:
d=int(input("enter a value in km : "))
m=1000*d
print("the value in meter is : ",m)
cm=100000*d
print("the value in centimeter is : ",cm)
mm=1000000*d
print("the value in milimeter is : ",mm)

enter a value in km : 3
the value in meter is :  3000
the value in centimeter is :  300000
the value in milimeter is :  3000000

3. INPUT TWO NUMBERS FIND SUM WITHOUT '+' OPERATOR.

In [3]:
def Add(a,b):
  while(b!=0):
    carry=a&b
    a=a^b
    b=carry<<1
  return a  
print(Add(10,20))

30

4. INPUT TWO NUMBER FIND REMAINDER WITHOUT '%'.

In [5]:
a=int(input("enter value of a : "))
b=int(input("enter value of b : "))
def rem(a,b):
  return(a-b*(a//b))
print("the remainder is : ",rem(a,b))

enter value of a : 100
enter value of b : 3
the remainder is :  1

5.INPUT TEMPERATURE FINDS CELSIUS AND FAHRENHEIT AND VICE VERSA.

In [7]:
celsius=float(input("enter the value : "))
fahrenheit=(celsius * 1.8) + 32
print("the value in fahrenheit",fahrenheit)
fahrenheit_f=float(input("enter the value : "))
celsius_c=int((fahrenheit_f - 32) / 1.8)
print("the value in celsius",celsius_c)

enter the value : 33
the value in fahrenheit 91.4
enter the value : 91.4
the value in celsius 33

6.INPUT A NUMBER FINDS REVERSE NUMBER WITHOUT LOOPING STRUCTURE.

In [8]:
n=int(input("enter the number : "))
rev=int(str(n)[::-1])
print("the reverse number is : ",rev)

enter the number : 1234
the reverse number is :  4321